body {
  width: 100%;
  margin: 0;
  font-family: souce-sans-pro, sans-serif;
}

.container{
  display: block;
  margin: 0 50px 0 50px;
}



nav {
  display: block;
  width: 100%;
  height: 100px;
  font-family: souce-sans-pro, sans-serif;
  font-weight: 400;
}
nav ul{
  float: right;
  margin-top: 70px;
}

nav li {
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:visited {
  color: black;
}

nav .highlight a{
  border: 2px solid black;
  padding: 5px 3px 2px 3px;
}



/* Contact */
.containerWhite {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 800px;
}

.containerGrey{
  width: 100%;
  background-color: rgb(238,238,238);
  display: block;
  position: relative;
  height: 800px;
  float: left;
  padding: 30px
}

.containerBlue {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: rgb(138,204,202);
  text-align: center;
  padding: 100px 0 100px 0;
  height: 800px;
}

.containerBlue h2 {
  margin-bottom: 50px;
}

/* Sliders */

.sliderLeft {
  display: inline-block;
  float: left;
  width: 60%;
  height: 100%;
  background-color: LightSalmon;
  margin-bottom: 100px;
}

.sliderRight {
  display: inline-block;
  float: right;
  width: 60%;
  height: 100%;
  background-color: LightSalmon;
  margin-bottom: 100px;
}

.captionRight {
  display: inline-block;
  float: right;
  background-color: white;
  width: 40%;
  height: 100%;
}

.captionRight span {
  position: absolute;
  width: 36%;
  right: 2%;
  bottom: 20%;
  text-align: justify;
}

.captionLeft {
  display: inline-block;
  float: left;
  background-color: white;
  width: 40%;
  height: 100%;
}

.captionLeft span {
  position: absolute;
  width: 36%;
  left: 2%;
  bottom: 20%;
  text-align: justify;
}

.captionRight p {
}

#logo{
  display: block;
  float: left;
}

#logo img {
  height: 100px;
  display: block;
}

#banner img{
  width: 100%;
  display: block;
}

#hotelDescription, #lesTravaux {
  display: block;
  position: relative;
  margin: 40px;
}

#roomTitle {
  position: absolute;
  top: 50px;
  left: 2%;
  width: 36%;
}
/* Slideshow */
.slide {
  width: 100%;
}
